<div class="shadow-none mb-5  rounded">

  <div class="alert alert-success d-none" role="alert" id="alert"> </div>
  <div>
      <form class="col-sm-8 mt-5">
          <div class="form-group row">
              <label for="first" class="col-sm-3 col-form-label">First Name:</label>
              <div class="col-sm-8">
                  <input type="text" name="first" [(ngModel)]="user.firstName" class="form-control" id="first" required>
              </div>
          </div>
          <div class="form-group row">
              <label for="last" class="col-sm-3 col-form-label">Last Name:</label>
              <div class="col-sm-8">
                  <input type="text" name="last" [(ngModel)]="user.lastName" class="form-control" id="last" required>
              </div>
          </div>
          <div class="form-group row">
              <label for="employeeId" class="col-sm-3 col-form-label">Employee ID:</label>
              <div class="col-sm-8">
                  <input type="text" name="employeeId" [(ngModel)]="user.employeeID" class="form-control" id="employeeId" required>
              </div>
          </div>

          <div class="col-sm-9 text-center" [hidden]="user.edit">
              <button type="button" class="btn btn-secondary  mr-2"  (click)="addUser()">Add </button>
              <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
          </div>

          <div class="col-sm-9 text-center" [hidden]="!user.edit">
              <button type="button" class="btn btn-secondary  mr-2" (click)="updateUser(user)">Update </button>
              <button type="button" class="btn btn-secondary" (click)="reset()">Cancel</button>
          </div>
      </form>
  </div>
  <hr size="30" style="clear:both;">

  <div class="view-users col-sm-12">
      <div>
          <input class="" type="search" name="search" [(ngModel)]="search" (blur)="filterUsers(search)" placeholder="search.." />
          Sort: <button type="button" class="btn btn-secondary  mr-2" (click)="filterUsers(search)">First Name
          </button>
          <button type="button" class="btn btn-secondary  mr-2" (click)="filterUsers(search)">Last Name </button>
          <button type="button" class="btn btn-secondary  mr-2" (click)="filterUsers(search)">ID </button>
      </div>
      <ul class="col-sm-12 list-group">
          <li *ngFor="let user of users" class=" list-group-item">
              <div class="row">
                  <div class="col-sm-6">
                      <input type="text" readonly class="" [value]="user.First_Name">
                      <input type="text" readonly class="" value="{{user.Last_Name}}">
                      <input type="text" readonly class="" value="{{user.Employee_ID}}">
                  </div>
                  <div class="col-sm-4">
                      <button type="button" class="btn btn-secondary  mr-2" (click)="EditUser(user)">Edit </button>
                      <button type="button" class="btn btn-secondary" (click)="deleteUser(user._id)">Delete</button>
                  </div>
              </div>

          </li>
      </ul>
  </div>


</div>
